 .form label,input, textarea, select{
    height: 2rem;
    width:50%;
    border: none;
    padding: 0 1rem;
    border-radius: 5rem;
    margin: 1rem 0;
    color: var(--secondary);
    font-size: 1.7rem;
    transition: .2s linear;

}
 .form input:focus, textarea:focus{
    border: .5rem solid red;
}
 .form textarea{
    height: 8rem;
    border-radius: 1rem;
    padding: 1rem;
    resize: none;
}

.form button{
    width: 30%;
    border: 5px solid black;
    cursor: pointer;
    font-size: 2rem;
    transition: .2s;
    border-radius: 5rem;
}

.form button:hover{
    letter-spacing: 1rem;
}