@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Protest+Guerrilla&family=Sevillana&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;

}

:root{
    --primary-normal:##3B478D;
    --primary-light:#2f6ff3;
    --primary-dark:#000937;
    --secondary:#5338d3;
    --secodary-dark:#072251;
    --color_red_normal: #d94140;
    --color_red_dark:   #b42b2b;
    --color_red_light:  #d34040;
    --color_white_normal:#fff;
    --color_white_dark:#edeaef;
    --color_white_light:#fefbff;
    --color_green: #04D361;
    --color_dark: #0C0C0C;
    --color_dark_200: #212529;

}

::selection{
    background-color: var(--primary-dark);
    color: #fff;

}

html{
    font-size: 62.5;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body{
    position: relative;
    background-color: #2f6ff3;
    
}

header{
    width:100%;
    background-color: var(--secodary-dark);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    z-index: 100;

}


header h1{
    color: var(--color_red_light);
    font-size: 1.2rem;
    justify-content: flex-start;
    align-items: flex-start;
    font-family: "Fredoka";
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.navbar ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

.navbar ul li{
    margin: 0 1rem;
}

.navbar ul li a{
    font-size: 1.2em;
    color: var(--color_red_light);
    transition: .2s;
   

}
a{
    text-decoration: none;
}
.navbar ul li,
.navbar ul li a:hover{
    color: var(--color_white_light);
    

}

.logo i{
    color: var(--color_red_light);
    padding: 0 0 0 0;
    font-size: 1.25rem;
    
}

.fa-bars, .menu-button{
    font-size: 3rem;
    color: var(--color_red_light);
    cursor: pointer;
    display: none;

}

.menu-mobile{
    display: none;
}


.home{
    min-height: 100vh;
   background-color: var(--primary-light);
}


.home .content{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 14rem;
    padding-top: 8rem;
}

.home .content h1{
    font-size: 5rem;
    color: var(--color_white_light);
    padding: 0 1rem;
    text-shadow: 0 .3rem .5rem rgba(0, 0, 0, .3);
    text-transform: uppercase;
}

.home .content p{
    font-size: 2rem;
    color: var(--color_white_light);
    padding: 1rem 8rem;
    text-align: justify;
}

.home .content .home-button{
    height: 4rem;
    width: 15rem;
    border-radius: 5rem;
    background-color: var(--secondary);
    color:var(--color_white_light);
    cursor: pointer;
    transition: 0.2s;
    border: none;
    margin-top: 1em;
}

.home .content .home-button:hover{
    letter-spacing: .2rem;
}

.swiper {
    width: 100%;
    height: auto; 
}

.swiper-slide {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 30em;
}

.swiper-slide .box {
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    width: 100%; 
    max-width: 300px; 
    height: auto; 
    margin: 0 auto; 
}






.home .box-container{
    display: flex;
    justify-content: center;
    color: var(--color_red_light);
    flex-wrap: wrap;

}
.home .box{
    height: 25rem;
    width: 20rem;
    background-color: var(--color_white_light);
    text-align: center;
    border-radius: 2rem;
    box-shadow: 0 .3rem .5 rgba(0, 0, 0, .3);
    margin: 2rem;
    cursor: pointer;
    border: 10px solid black;
}

.home  .box i{
    height: 6rem;
    width: 6rem;
    line-height: 6rem;
    border-radius: 50%;
    color: var(--color_white_light);
    background-color: var(--secondary);
    font-size: 3rem;
    margin: 2rem;
    transition: 0.2s;
}

.home  .box i:hover{
    background-color: var(--color_red_light);
}



.home  .box h3{
    font-size: 2rem;
    color: var(--color_red_light);
    transition: 0.2s;
}

.home  .box h3:hover{
    color: var(--primary-dark)
}

.home  .box p{
    font-size: 1.3rem;
    color: var(--secodary-dark);
}

.cards-mobile{
    display: none;
   
}



.about .heading{
    font-size: 4rem;
    color: var(--color_white_normal);
    text-align: center;
    padding: 0 1rem;
    padding-top: 6rem;
    letter-spacing: .2rem;
    font-weight: 500;
}

.title{
    padding: 0 1rem;
    font-size: 2rem;
    text-align: center;
    font-weight: 500;
    color: var(--color_white_dark);
}

.about .row{
    display: flex;
    justify-content:center;
    align-items: center;
}

.about .row .image{
    height: 50vh;
    width: 20vh;
    display: flex;
}

.about .row .content{
    padding-left: 3rem;
}

.about .row .content h3{
    font-size: 2rem;
    color: var(--color_white_normal);
    text-align: center;
    justify-content: center;
    
}

.about .row .content p{
    justify-content: center;
    font-size: 1.5rem;
    color: var(--color_white_dark);
    padding: 0 10rem 0 10rem;
    text-align: justify;
}

.about .row .content button{
    height: 4rem;
    width: 25rem;
    background-color: var(--secondary);
    color: var(--color_white_normal);
    border: none;
    border-radius: 5rem;
    box-shadow: 0 .3rem 1rem rgba(0, 0, 0, .3);
    cursor: pointer;
    font-size: 2rem;
    transition: .2s;
    margin:  1rem 0 0 20rem ;
}
.about .row .content button:hover{
    letter-spacing: .5rem;
}




.teachers .heading{
    display: flex;
    color: var(--color_white_light);
    font-size: 2rem;
    justify-content: center;
    align-items: center;
}

.teachers .title{
    display: flex;
    color: var(--color_white_light);
    font-size: 2rem;
    justify-content: center;
    align-items: center;
}

.teachers .card-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
}

.teachers .card-container .card{
    padding: 2rem;
    margin: 2rem;
    background-color: var(--color_white_normal);
    text-align: center;
    width: 28rem;
    box-shadow: 0 .3rem  .5rem rgba(0, 0, 0, .3);
}

.teachers .card-container .card img{
    height: 30rem;
    width: 100%;
    object-fit: cover;
    filter: grayscale();

}

.teachers .card-container .card img:hover{
    filter:contrast()
}

.teachers .card-container .card h3{
    color: var(--color_red_dark);
    font-size: 2rem;
    padding: .5rem 0;
    
}

.teachers .card-container .card p{
    font-size: 1.7rem;
    color: var(--secodary-dark)

}

.teachers .card-container .card .icons a{
    font-size: 1.9rem;
    padding: 1.5rem .5rem;
    color: var(--color_red_dark);
}

.teachers .card-container .card .icons a:hover{
    color: var(--secondary)

}

.course .heading{
    display: flex;
    color: var(--color_white_light);
    font-size: 5rem;
    justify-content: center;
    align-items: center;  
}

.course .title{
    display: flex;
    color: var(--color_white_light);
    font-size: 3rem;
    justify-content: center;
    align-items: center; 
}
.course .box-container{
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding-top: 4rem;
    flex-wrap: wrap;
}

.course .box-container .box{
    height: 18rem;
    width: 25rem;
    margin:3.5rem 2rem ;
    text-align: center;
    box-shadow: .3rem .3rem 0 .1rem var(--color_red_dark),
                .5rem .5rem .5rem rgba(0, 0, 0, .3);
    background-color: var(--color_white_dark);
}

.course .box-container .box i{
    height: 10rem;
    width: 10rem;
    font-size: 5rem;
    line-height: 10rem;
    text-align: center;
    color: var(--color_red_dark);
    border-radius: 50%;
    background-color: var(--secondary);
    margin-top:  -20rem;

}
.course .box-container .box h3{
    font-size: 2rem;
    color: var(--color_red_dark);

}

.course .box-container .box p{
    font-size: 1.5rem;
    color: var(--color_dark)

}


.review{
    background-color: var(--primary-light)

}

.review .heading{
    display: flex;
    color: var(--color_white_light);
    font-size: 3rem;
    justify-content: center;
    align-items: center; 
}

.review .title{
    display: flex;
    color: var(--color_white_light);
    font-size: 3rem;
    justify-content: center;
    align-items: center; 
}

.review .box-container{
    width: 85%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding-top: 4rem;
    flex-wrap: wrap;
}

.review .box-container .box{
    height: 20rem;
    width: 20rem;
    margin:3.5rem 1rem ;
    text-align: center;
    box-shadow: .3rem .3rem 0 .1rem var(--color_red_dark),
                .5rem .5rem .5rem rgba(0, 0, 0, .3);
    background-color: var(--color_white_dark);
}

.review .box-container .box img{
    height: 8.5rem;
    width: 8.5rem;
    object-fit: cover;
    border-radius: 50%;
    margin-top: -4rem;
    border-left:  .5rem solid var(--color_red_dark);
    border-bottom: .6rem solid var(--secondary)  ;
    border-right:  .5rem solid var(--color_red_dark);
    border-top: .6rem solid var(--secondary)  ;
    
}

.review .box-container .box h3{
    font-size: 2rem;
    color: var(--color_red_dark);
    padding:0 .5rem;
}

.review .box-container .box p {
    font-size: 1.2rem;
    color: var(--color_dark);
    padding: 0 1.3rem;
    text-align: justify;
}

.review .box-container .box .stars i{
    font-size: 1.6rem;
    color: var(--color_red_dark);
    padding: 1.3rem .1rem;

}

.contact .heading{
    padding-top: 1em;
    display: flex;
    color: var(--color_white_light);
    font-size: 3rem;
    justify-content: center;
    align-items: center;  
}
.contact .row{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5rem 0;
}

.contact{
    background-color: var(--primary-dark)
}
.contact .row img{
    width: 50vw ;
    height: 70vh;
}

.contact .row .form-container{
    width: 50%;
    padding-right: 6rem;
}

.contact .row .form-container label,input, textarea{
    height: 4rem;
    width: 100%;
    background-color: var(--color_white_light);
    border: none;
    padding: 0 1rem;
    border-radius: 5rem;
    margin: 1rem 0;
    color: var(--secondary);
    font-size: 1.7rem;
    transition: .2s linear;

}
.contact .row .form-container input:focus, textarea:focus{
    border: .5rem solid var(--color_red_dark);
}
.contact .row .form-container textarea{
    height: 8rem;
    border-radius: 1rem;
    padding: 1rem;
    resize: none;
}

.contact .row .form-container .buttons button{
    width: 17rem;
    background-color: var(--secondary);
    border: 5px solid black;
    color: var(--color_white_light);
    cursor: pointer;
    font-size: 2rem;
    transition: .2s;
    border-radius: 5rem;
}

.contact .row .form-container .buttons button:hover{
    letter-spacing: 1rem;
}
.modal__enviar{
    min-width: 100%;
    height: 100%;
    background-color: #0C0C0C50;
    

}

.modal__content{
    width: 900px;
    height: 300px;
    background-color: var(--color_dark);
    border: 1px solid var(--color_dark_200);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal__content p {
    font-size: 32px;
    line-height: 42px;
    margin-bottom: 20px;
}

.btn__fechar{
    width: 600px;
    font-size: 24px;
    font-weight: bold;
    color: #04D361;
    background-color: #b42b2b;
}

.sucesso{
    color: var(--color_green);
}

.erro{
    color:var(--color_red)
}

.bg__sucesso{
    background-color: var(--primary-dark)
}

.bg__erro{
    background-color: var(--color_red);
}

.modal__msg_sucesso{
    color: var(--secondary);
}

.modal__msg_erro{
    color: var(--color_red_dark)
}

.erro__nome, .erro_email, .erro_numero{
    line-height: 30px;
}

footer{
    text-align: center;
    
}

footer .icons{
    padding:  3rem 0;
}

footer .icons a{
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.2rem;
    border-radius: 50%;
    color: var(--secondary);
    border: .2rem solid var(--secondary);
    font-size: 2rem;
    margin: 0 1rem;
    transition: .2s linear;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

footer .icons a:hover{
    font-size: 2.5rem;
    height: 5rem;
    width: 5rem;
    color: var(--color_red_dark);
    border: .2rem solid var(--color_red_dark);
}
footer .credit{
    font-size: 2rem;
    margin: 0 auto;
    margin-bottom: 2rem;
    color: var(--primary-dark);
    width: 109%;
    padding: 1rem 0;
}



@media (max-width:768px){
    html{
        font-size: 50%;
    }
    
    .fa-bars, .menu-button{
        display: block;
        background-color: transparent;
        border: none;
        cursor: pointer;
        margin-right: 3em;
        
    }

    header h1{
        padding-left: 40rem;
        font-size: 3rem;
    }

    .logo{
        display: none;
    }
    

    .navbar{
        padding: 1.5rem 4rem;
    }

    .navbar li{
        display: none;
    }

    .menu-mobile {
        display: none; 
        width: 100%; 
        position: fixed;
        top:3rem;
        left: 0;
       
    }
    
    
    .menu-mobile ul {
        display: flex; 
        flex-direction: column;
        align-items: center; 
        justify-content: center; 
        width: 100%; 
        padding:  0; 
        list-style: none; 
       
       
    }
    
    .menu-mobile ul li {
        width: 100%; 
        text-align: center; 
        border-radius: 5px;
        
    }
    
    .menu-mobile ul li a {
        display: block; 
        width: 100%; 
        color: var(--color_red_light);
        transition: 0.2s;
        background-color: var(--secodary-dark);
        font-size: 3rem;
        text-decoration: none;
        
    }

    .menu-mobile ul li a:hover {
        color: white;
    }

    .menu-mobile{
        display: none;
        padding-top: 1.2rem;
    }

    .open{
        display: block;
    }

    .close{
        display: none;
    }

    #slide-1{
        display: none;
    }
    #slide-2{
        display: none;
    }
    #slide-3{
        display: none;
    }
    #slide-4{
        display: none;
    }

    .home .content .home-button{
        width: 15em;
    }
  
    .cards-mobile{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column; 
       
    }
    .cards-mobile .box{
        border: 5px solid red;
        width: 50em;
        height: 30em;
    }

    .cards-mobile .box h3{
        font-size: 3em;
    }

    
    .cards-mobile .box p{
        font-size: 3em;
        text-align: justify;
        padding: 0 .5em;
    }

    
    .about .row{
        flex-direction: column;
    }
    .about .row .image{
      display: none;
    }
    .about .row .content p{
        padding: 0 2.5rem;
        font-size: 3rem;
    }
    .about .row .content button{
        margin-left: 15em;
    }
    .about .heading{
        font-size: 7em;
    }
    .about .title{
        font-size: 4em;
    }

    .about .row .content h3{
        font-size: 3em;
    }

    .teachers .heading{
        font-size: 4rem;
        margin-top: 1rem;
    }

    .teachers .title{
        font-size: 4rem;
        margin-top: 1rem;
    }
    .teachers .card-container{
        margin: 0 1rem;
    }

    .teachers .card-container .card{
        width: 50rem;
    }

    .teachers .card-container .card p{
        text-align: justify;
        font-size: 3em;
        padding: 0;
    }

    .teachers .card-container .card h3{
        font-size: 4em;
    }

    .teachers .card-container .card .icons a{
        font-size: 5em;
        
    }

    .course .box-container{
        width: 100%;
    }
    .course .box-container .box{
        height: 30em;
        width: 40em;
        
    }

    .course .box-container .box h3{
        font-size: 4em;
    }
    .course .box-container .box p{
        font-size: 2.5rem;
        text-align: justify;
        padding: 1em 1em;
    }

    
    .review .box-container .box{
        height: 30rem;
        width: 40rem;
        margin:3.5rem 1rem ;
        text-align: center;
        box-shadow: .5rem .5rem 0 .1rem var(--color_red_dark),
                    .5rem .5rem .5rem rgba(0, 0, 0, .3);
        background-color: var(--color_white_dark);
    }
    
    .review .box-container .box img{
        height: 15rem;
        width: 15rem;
        object-fit: cover;
        border-radius: 50%;
        margin-top: -4rem;
        border-left:  .5rem solid var(--color_red_dark);
        border-bottom: .6rem solid var(--secondary)  ;
        border-right:  .5rem solid var(--color_red_dark);
        border-top: .6rem solid var(--secondary)  ;
        
    }
    
    .review .box-container .box h3{
        font-size: 3rem;
        color: var(--color_red_dark);
        padding:0 .5rem;
    }
    
    .review .box-container .box p {
        font-size: 2.2rem;
        color: var(--primary-dark);
        padding: 0 1.3rem;
        text-align: justify;
    }
    
    .review .box-container .box .stars i{
        font-size: 2rem;
        color: var(--color_red_dark);
        padding: 1.3rem .1rem;

    }

    .modal__content{
        width: 90%;
    }

    .btn__fechar{
        width: 90%;
        background-color: var(--primary-light);
        color: var(--color_dark);
    }

    .contact .row img{
        width: 40vw ;
        height: 60vh;
    }
    
    .contact .heading{
        padding-top: 1em;
    }

    .contact .title{
        padding-top: 1em;
        
    }
    .contact .row .form-container label,input, textarea{
        height: 6rem;
        width: 100%;
        background-color: var(--color_white_light);
        border: none;
        padding: 0 1rem;
        border-radius: 5rem;
        margin: 1rem 0;
        color: var(--secondary);
        font-size: 2.5rem;
        transition: .2s linear;
    
    }
    .contact .row .form-container input:focus, textarea:focus{
        border: 1rem solid var(--color_red_dark);
    }

    .contact .row .form-container label{
        font-size: 3em;
    }
    .contact .row .form-container textarea{
        height: 8rem;
        border-radius: 1rem;
        padding: 1rem;
        resize: none;
    }
    
    .contact .row .form-container .buttons button{
        width: 17rem;
        background-color: var(--secondary);
        border: 5px solid black;
        color: var(--color_white_light);
        cursor: pointer;
        font-size: 2rem;
        transition: .2s;
        border-radius: 5rem;
    }
    
    .contact .row .form-container .buttons button:hover{
        letter-spacing: 1rem;
    }
}
@media (max-width:480px) {

        header h1{
            padding-left: 20rem;
            font-size: 3rem;
            
        }
        .home .content h1{
            font-size: 4em;
            margin-top: 1em;
        }

        .menu-mobile ul li a {
            font-size: 4rem;  
        }

        .home .home-button{
            background-color: #b42b2b;
        }

    

       .cards-mobile .box {
            height: 40rem;
            width: 40rem;
            background-color: var(--color_white_light);
            text-align: center;
            border-radius: 2rem;
            box-shadow: 0 .3rem .5 rgba(0, 0, 0, .3);
            margin-top:  2rem;
            cursor: pointer;
            border: 10px solid black;
        
       }

       .cards-mobile .box p{
            padding: 1em 1em 0 1em;
            text-align: justify;
            font-size: 20px;
       }

       .cards-mobile .box h3{
        font-size: 4em;
       }
        
       .about .heading{
        font-size: 10em;
        
    }

    .about .title{
        display: none;
    }
    .about .row .content h3{
        font-size: 3em;
        padding: 0 .2em;
    }
    .about .row .content p{
        font-size: 2.5rem;
        padding-left: 1em;
    }

    .about .row .content button{
        margin-left: 5em;
    }

    .teachers .card-container .card{
        width: 30rem;
    }
    .teachers .card-container .card h3{
        font-size: 4rem;
        padding: .5rem 0;
        
    }
    
    .teachers .card-container .card p{
        font-size: 1.5rem;
        padding: 0;
    
    }
    
    .teachers .card-container .card .icons a{
        font-size: 4rem;
        padding: 1.5rem .5rem;
    }
    .course .box-container .box{
        height: 25rem;
        width: 40rem;
        margin:3.5rem 2rem ;
        text-align: center;
        box-shadow: .3rem .3rem 0 .1rem var(--color_red_dark),
                    .5rem .5rem .5rem rgba(0, 0, 0, .3);
        background-color: var(--color_white_dark);
    }
    .course .box-container .box h3{
        font-size: 5rem;
        color: var(--color_red_dark);
    
    }
    
    .course .box-container .box p{
        font-size: 3rem;
        text-align: justify;
        padding: 0 0.5rem;
        
    
    }


    .contact .heading{
        font-size: 3rem;
    }
    .contact .title{
        text-align: justify;
        padding: 1rem 2rem;
        font-size: 3rem;
    }
    .contact .row{
        flex-direction: column;
    }

    .contact .row img{
        height: 50vh;
        width: 90vw;     
    }

    .contact .row .form-container{
        width: 90%;
        padding: 0;
    }

    .contact .row  .form-container .buttons button{
        width: 10em;
        justify-content: center;
        align-items: center;
        font-size: 3em;
    }

    .modal__content p{
       padding: 0 1rem;
       font-size: 3rem;
    }

    .btn__fechar{
        width: 90%;
        background-color: var(--primary-light);
        color: var(--color_dark);
    }
}
   


